.header {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 3px 22px 0 rgba(0, 0, 0, 0.02);

  .logo {
    font-size: 20px;
    font-weight: 700;
  }

  .nav {
    .link {
      font-weight: 500;

      &:not(:last-child) {
        margin-right: 24px;
      }
    }
  }

}