.btn {
  border: 0;
	outline: 0;
	padding: 0;
  font: inherit;
  color: inherit;
	cursor: pointer;
  display: inline-block;
  background-color: transparent;
	transition: all 200ms ease-in;
	
	&--primary {
    color: $button-text-color;
    background: $button-bg-color;
		box-shadow: 0 0 10px 2px rgba(0, 0, 0, .1);
		border-radius: 2px;
		padding: 12px 36px;
		
		&:hover {
			background: darken($button-bg-color, 4%);
		}
		
		&:active {
			background: $button-bg-color;
			box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, .2);
		}
	}

	&--block {
		width: 100%;
		display: block;
	}
}