* {
	&,
	&:before,
	&:after {
		box-sizing: border-box;
	}
}

html {
	font-family: 'Inter', sans-serif;
	font-weight: 400;
	font-size: 1rem;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}

body {
	margin: 0;
	overflow-x: hidden;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

button {
	cursor: pointer;
  user-select: none;
  background-color: transparent;
}

ol,
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

img {
	max-width: 100%;
	font-style: italic;
	vertical-align: middle;
}

svg {
	fill: currentColor;
	display: inline-block;
	vertical-align: middle;
}

a {
	color: inherit;
	text-decoration: none;
}