@import '../../styles/vars.scss';

.form-container {
  width: $form-width-max;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: $form-width-max) {
    width: $form-width-min;
  }

  .form-headings {
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}