// GENERAL
$form-width-min: 350px;
$form-width-max: 450px;


// COLORS
$body-bg-color: #f5f6fa;
$body-text-color: #9c9c9c;

$input-bg-color: #ffffff;
$input-text-color: #a3a3a3;

$button-bg-color: #7f8ff4;
$button-text-color: #ffffff;

$light-shadow: rgba(0, 0, 0 , 0.1);